[Unit]
Description=A-Tune Daemon
After=systemd-sysctl.service network.target atune-rest.service
Requires=polkit.service

[Service]
Type=notify
ExecStart=/usr/bin/atuned
SuccessExitStatus=100
Restart=on-failure
RestartSec=3s
TimeoutSec=1m

[Install]
WantedBy=multi-user.target
