[Unit]
Description=A-Tune Daemon
After=systemd-sysctl.service network.target
Requires=polkit.service

[Service]
Type=notify
ExecStart=/usr/bin/atuned

[Install]
WantedBy=multi-user.target
