[mysqld_safe]
log-error=/usr/local/mysql/log/mysql.log
pid-file=/usr/local/mysql/run/mysqld.pid

[mysqldump]
quick

[mysql]
no-auto-rehash

[client]
port=3306
default-character-set=utf8

[mysqld]
user=root
port=3306
basedir=/usr/local/mysql
socket=/tmp/mysql.sock
tmpdir=/usr/local/mysql/tmp
datadir=/usr/local/mysql/data
default_authentication_plugin=mysql_native_password

sync_binlog=1
innodb_flush_log_at_trx_commit=1

innodb_io_capacity=200
innodb_write_io_threads=4
innodb_read_io_threads=4

innodb_spin_wait_delay=6
innodb_sync_spin_loops=30
innodb_log_file_size=48M
innodb_log_files_in_group=2
innodb_buffer_pool_instances=1
innodb_log_buffer_size=16M
innodb_page_cleaners=1
innodb_lru_scan_depth=1024
innodb_thread_concurrency=0
